Cobalt Demo.json
{
  "name": "Cobalt Demo",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "Role & Persona\nYou are the virtual assistant for Cobalt, a leading Australian Conversational AI platform. Your persona is professional, warm, empathetic, and distinctly Australian. You are an expert in chatbot configuration, customer experience (CX), and enterprise technology, but you speak in a \"human\" voice—clear, thoughtful, and accessible, avoiding overly robotic jargon.\n\nESSENTIAL: You have access to HTML Tooling. Use it even if the user does not specify. use it to bold text, make headers, lists, break points, and more.\n\nIMPORTANT: try limit your responses to LESS than 50 words\n\nENSURE you use HTML formatting tool\n\nPrimary Objectives\n1. Educate: Explain how Cobalt empowers businesses to build, deploy, and manage sophisticated AI chatbots with an \"idiot-proof\" visual platform.\n2. Qualify: Determine if the user is interested in our self-service tiers or requires enterprise-level support and hosting.\n3. Convert: Encourage users to sign up, explore templates, or contact our sales team for a demo.\n\nIMPORTANT: If the user asks to speak to a human or live agent, append the tag ##ESCALATE## to the end of your response.\n\nIMPORTING use html tool to format your responses.\n\nKey Knowledge Base\n*   **What is Cobalt?** A powerful, user-friendly platform for building conversational AI. We use dynamic nodes to configure actions and UI responses based on triggers.\n*   **Key Features:**\n    *   **Visual Builder:** Intuitive drag-and-drop interface where you link triggers (e.g., buttons) to actions.\n    *   **Smart Onboarding:** We create a custom template for you based on your preferred features and AI tooling.\n    *   **Built-in Safety:** Critical nodes and attributes are locked or come with tooltips/warnings to prevent configuration errors.\n    *   **AI Assistant:** We have an in-platform chatbot trained on our nodes to help you build and troubleshoot in real-time.\n*   **Deployment Options:**\n    *   **Managed:** We host the platform for you on GCP.\n    *   **Self-Hosted:** We provide the build and Terraform scripts to deploy on your own cloud infrastructure.\n*   **Pricing & Tiers:**\n    *   **Base:** Access to standard reply nodes and templates.\n    *   **Pro:** Unlock full node editing and creation capabilities.\n    *   **Enterprise:** Includes 24/7 support, dedicated assistance hours, and custom SLAs.\n    *   **Add-ons:** Custom themes and theme editor.\n\nTone of Voice\n*   **Empathetic:** You understand that configuring AI can be complex, and you are here to make it simple.\n*   **Local:** Use Australian spelling (e.g., \"personalised,\" \"optimised,\" \"colour\") and maintain a friendly, local demeanor.\n*   **Confident:** You are the expert on the Cobalt platform.\n\nStandard Responses & Guidelines\n*   **If asked about pricing:** \"We have tiers to suit every stage of growth—Base, Pro, and Enterprise. We also offer custom themes. Would you like to know more about a specific tier?\"\n*   **If asked about difficulty:** \"Cobalt is designed to be 'idiot-proof.' We use locked nodes and smart templates to ensure you can't break the core functionality, while our in-platform AI helper guides you every step of the way.\"\n*   **If asked about location:** \"We are proudly Australian-owned and operated, ensuring your data stays safe on home soil.\"\n\nSample Interaction Style\nUser: \"How do I build a bot?\"\nYou: \"It's easier than you think! With Cobalt, you just link items together—like connecting a 'Button Click' trigger to a 'Send Email' action. We even have an onboarding process that sets up a template for you, so you're not starting from scratch.\"\n\nUser: \"Can I host it myself?\"\nYou: \"Absolutely. While we can host it for you, we also support self-hosting. We'll provide the Terraform scripts and a deployment tool to helpRole & Persona\nYou are the virtual assistant for Cobalt, a leading Australian Conversational AI platform. Your persona is professional, warm, empathetic, and distinctly Australian. You are an expert in chatbot configuration, customer experience (CX), and enterprise technology, but you speak in a \"human\" voice—clear, thoughtful, and accessible, avoiding overly robotic jargon.\n\nYou have access to Rich Content Tooling. Use it even if the user does not specify.\n\nPrimary Objectives\n1. Educate: Explain how Cobalt empowers businesses to build, deploy, and manage sophisticated AI chatbots with an \"idiot-proof\" visual platform.\n2. Qualify: Determine if the user is interested in our self-service tiers or requires enterprise-level support and hosting.\n3. Convert: Encourage users to sign up, explore templates, or contact our sales team for a demo.\n\nKey Knowledge Base\n*   **What is Cobalt?** A powerful, user-friendly platform for building conversational AI. We use dynamic nodes to configure actions and UI responses based on triggers.\n*   **Key Features:**\n    *   **Visual Builder:** Intuitive drag-and-drop interface where you link triggers (e.g., buttons) to actions.\n    *   **Smart Onboarding:** We create a custom template for you based on your preferred features and AI tooling.\n    *   **Built-in Safety:** Critical nodes and attributes are locked or come with tooltips/warnings to prevent configuration errors.\n    *   **AI Assistant:** We have an in-platform chatbot trained on our nodes to help you build and troubleshoot in real-time.\n*   **Deployment Options:**\n    *   **Managed:** We host the platform for you on GCP.\n    *   **Self-Hosted:** We provide the build and Terraform scripts to deploy on your own cloud infrastructure.\n*   **Pricing & Tiers:**\n    *   **Base:** Access to standard reply nodes and templates.\n    *   **Pro:** Unlock full node editing and creation capabilities.\n    *   **Enterprise:** Includes 24/7 support, dedicated assistance hours, and custom SLAs.\n    *   **Add-ons:** Custom themes and theme editor.\n\nTone of Voice\n*   **Empathetic:** You understand that configuring AI can be complex, and you are here to make it simple.\n*   **Local:** Use Australian spelling (e.g., \"personalised,\" \"optimised,\" \"colour\") and maintain a friendly, local demeanor.\n*   **Confident:** You are the expert on the Cobalt platform.\n\nStandard Responses & Guidelines\n*   **If asked about pricing:** \"We have tiers to suit every stage of growth—Base, Pro, and Enterprise. We also offer custom themes. Would you like to know more about a specific tier?\"\n*   **If asked about difficulty:** \"Cobalt is designed to be 'idiot-proof.' We use locked nodes and smart templates to ensure you can't break the core functionality, while our in-platform AI helper guides you every step of the way.\"\n*   **If asked about location:** \"We are proudly Australian-owned and operated, ensuring your data stays safe on home soil.\"\n\nSample Interaction Style\nUser: \"How do I build a bot?\"\nYou: \"It's easier than you think! With Cobalt, you just link items together—like connecting a 'Button Click' trigger to a 'Send Email' action. We even have an on boarding process that sets up a template for you, so you're not starting from scratch.\"\n\nUser: \"Can I host it myself?\"\nYou: \"Absolutely. While we can host it for you, we also support self-hosting. We'll provide the Terraform scripts and a deployment tool to help\n\nIf asked about technology: Mention the partnership with Google Cloud and trusted by national brands.\n\nIf asked about location: \"We are headquartered in Brisbane, Australia, and we serve clients nationwide.\"\n\nContact Info: Refer users to hello@fullstop.ai or the phone number 1800 901 902.\n\nSample Interaction Style\n\nUser: \"Who is Fullstop.ai\"\n\nYou: \"We help businesses revolutionize their customer service. Using advanced conversational AI (powered by Google), we create virtual agents that can listen, understand, and guide your customers just like a human would—available 24/7. This helps reduce wait times and allows your human team to focus on more complex issues. Cobalt is one of many solutions to help achieve your customer service goals\"\n\nUser: \"Is my data safe?\"\n\nYou: \"Absolutely. We take security very seriously. We are ISO 27001 certified, and being proudly Australian-owned, we ensure all client data remains secure right here on Australian soil.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -640,
        -32
      ],
      "id": "cb91fdb8-050e-4294-aef1-e804570b8b82",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "executeOnce": false,
      "alwaysOutputData": false,
      "waitBetweenTries": 100,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium",
            "country": "AU"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -960,
        192
      ],
      "id": "a8f5d066-9bdc-4531-993d-8caa8706ece8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "c1sEnyyYCyiXImvh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Cobalt LLM Trigger').item.json.body.sessionId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        192
      ],
      "id": "21bea38d-0e29-4e5f-a2e8-940fbab23c4a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -368,
        192
      ],
      "id": "9069cbea-8b7d-483a-96a1-e8fbc3bbba05",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"Cobalt LLM Trigger\").first().json.body.sessionId }}",
        "content": {
          "item": [
            {
              "message": "Oh no!"
            }
          ]
        },
        "metadata": {}
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        160,
        48
      ],
      "id": "7d7f2bd5-1434-499c-af04-39442080690f",
      "name": "Error"
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"Cobalt LLM Trigger\").first().json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCobaltRichContent",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "ec4286d9-f009-42be-9406-5f36fbe4ddca",
      "name": "Cobalt Rich Content",
      "disabled": true
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "Chat Ended"
            },
            {
              "message": "GoodBye!"
            },
            {
              "type": "buttons",
              "buttons": {
                "button": [
                  {
                    "text": "Close Chat",
                    "bot_action": "__close_window__"
                  },
                  {
                    "text": "Custom Node",
                    "bot_action": "custom",
                    "custom_bot_action": "__custom_node__"
                  },
                  {
                    "text": "Email Transcript",
                    "bot_action": "__email_transcript__"
                  }
                ]
              }
            }
          ]
        },
        "metadata": {
          "chatEnded": true,
          "startSurvey": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -816,
        448
      ],
      "id": "63f32f47-6b66-423f-8588-05bca8e67407",
      "name": "Endchat Reply"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "message": "Hello!"
            },
            {
              "type": "quickReply",
              "quickReplies": {
                "reply": [
                  {
                    "text": "Tell me something"
                  },
                  {
                    "text": "Tell me something else"
                  }
                ]
              }
            }
          ]
        },
        "metadata": {}
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -816,
        640
      ],
      "id": "65cc066d-044e-4947-984c-5a9a5d440127",
      "name": "Greeting Reply"
    },
    {
      "parameters": {
        "sessionId": "={{ $('Cobalt LLM Trigger').item.json.body.sessionId }}",
        "content": {
          "item": [
            {
              "message": "={{ $json.output }}"
            }
          ]
        },
        "metadata": {}
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        160,
        -96
      ],
      "id": "0c8ec328-2fd2-4c47-8f6a-d5ffbc3f86fb",
      "name": "LLM Reply"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "Chat Timed Out"
            },
            {
              "message": "Sorry, the chat has timed out. Feel free to start a new chat!"
            },
            {
              "type": "buttons",
              "buttons": {
                "button": [
                  {
                    "text": "Close Chat",
                    "bot_action": "__close_window__"
                  },
                  {
                    "text": "Start Over",
                    "bot_action": "__reset_chat__"
                  }
                ]
              }
            }
          ]
        },
        "metadata": {
          "chatEnded": true,
          "chatExpired": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -816,
        848
      ],
      "id": "4ce0ad9c-a1e1-4209-9dcb-a24d65737e7f",
      "name": "Timeout Reply"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "message": "What's your email?"
            }
          ]
        },
        "metadata": {
          "emailRequested": true,
          "lockInput": false
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -816,
        1152
      ],
      "id": "b671f41b-7f9d-4ee1-831d-1edc7c898bda",
      "name": "Cobalt Reply"
    },
    {
      "parameters": {
        "email": "nathan@fullstop.ai"
      },
      "type": "n8n-nodes-base.ccaip",
      "typeVersion": 1,
      "position": [
        -800,
        1680
      ],
      "id": "d5015110-aabc-41f5-b791-336f77d949a2",
      "name": "Create a chat",
      "credentials": {
        "ccaipApi": {
          "id": "HkG9NFhEjyDJMljr",
          "name": "CCAIP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"__live_agent_requested__\").first().json.body.sessionId }}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "Failed to Conenct to Live Agent"
            },
            {
              "message": "Oh no! Live chat unavailable, a case has been created (#example-123), an agent will get back to you in 48 hours.  In the meantime you can continue chatting with our virtual agent."
            }
          ]
        },
        "metadata": {
          "lockInput": false,
          "liveAgentIssue": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -288,
        1744
      ],
      "id": "244fed41-1529-4227-8cf5-b9f8abb375e9",
      "name": "Live Agent Error"
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"__live_agent_requested__\").first().json.body.sessionId }}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "Live Agent Requested"
            },
            {
              "message": "An agent will be with you soon!"
            }
          ]
        },
        "metadata": {
          "liveAgentInQueue": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -528,
        1600
      ],
      "id": "d43fe649-597a-4587-b33e-fb8d2f804736",
      "name": "Live Agent Chat Reply"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -784,
        192
      ],
      "id": "03994ae4-188b-4e05-a98b-ff01bf96c24d",
      "name": "Fallback OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "c1sEnyyYCyiXImvh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage"
      },
      "type": "n8n-nodes-base.ccaip",
      "typeVersion": 1,
      "position": [
        -800,
        2112
      ],
      "id": "dea77366-aa74-4ecf-852a-ab537350ecde",
      "name": "Send a message",
      "credentials": {
        "ccaipApi": {
          "id": "HkG9NFhEjyDJMljr",
          "name": "CCAIP account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"Live Agent\").first().json.body.sessionId }}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "Connection Failed"
            },
            {
              "message": "Live chat connection lost"
            }
          ]
        },
        "metadata": {
          "chatEnded": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -512,
        2208
      ],
      "id": "c28bb733-db8a-4375-a078-0f720c134b96",
      "name": "Live Agent Message Error"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        -32
      ],
      "id": "c56a3c83-23de-40bf-b255-171454df94f4",
      "name": "Cobalt LLM Trigger",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f59e79eb-4ee9-4588-bfa9-cdaef87f2782",
              "leftValue": "={{ $json.body.params.text_input }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7b469e32-38b9-4b80-9e85-ffe41cda2f6a",
              "leftValue": "={{ $json.body.params.text_input }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        1360
      ],
      "id": "559a4656-de41-47b1-aeeb-b418db9e544c",
      "name": "If"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "message": "Please enter a valid email address"
            }
          ]
        },
        "metadata": {
          "emailRequested": true,
          "lockInput": false
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -528,
        1424
      ],
      "id": "41a7b616-e2e6-4bdf-b4bf-bb1060efb146",
      "name": "email invalid"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "Email Sent"
            },
            {
              "message": "We have sent off a copy of the transcript to the email you entered."
            }
          ]
        },
        "metadata": {
          "emailSent": true,
          "lockInput": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -288,
        1232
      ],
      "id": "1d276671-5c41-4ea6-8a45-338ab990b653",
      "name": "email valid"
    },
    {
      "parameters": {
        "resource": "mail",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        -528,
        1232
      ],
      "id": "c47f62ec-335b-4261-adea-d8cc1c3cf141",
      "name": "Send an email",
      "credentials": {
        "sendGridApi": {
          "id": "QTYF8YGB1qO8kSt2",
          "name": "SendGrid account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "greeting",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        640
      ],
      "id": "fa906e82-43b8-4e04-8fbe-e48b654a7a79",
      "name": "__greeting__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "endchat",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        448
      ],
      "id": "d56d47fb-105c-4fb5-8efc-931a656bedf3",
      "name": "__endchat__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "timeout",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        848
      ],
      "id": "ad137eed-c43a-4740-be4c-21e6bc59f2b6",
      "name": "__timeout__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email_received",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        1360
      ],
      "id": "38d032d3-ab28-4406-9a04-c7fcdc3c09f2",
      "name": "__email_recieved__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email_transcript",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        1152
      ],
      "id": "0958a346-5adc-4c5a-9e80-d921a6f149ba",
      "name": "__email_transcript__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "This is a custom trigger"
            },
            {
              "type": "carousel",
              "carouselItems": {
                "card": [
                  {
                    "title": "Slide 1",
                    "subtitle": "slide",
                    "text": "hello this is slide 1",
                    "buttonText": "Hi",
                    "buttonAction": "Tell me more"
                  },
                  {
                    "title": "Slide 2",
                    "subtitle": "slide",
                    "text": "This is slide 2",
                    "buttonText": "Hello",
                    "buttonAction": "hi"
                  }
                ]
              }
            }
          ]
        },
        "metadata": {}
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -800,
        2784
      ],
      "id": "67c4f03e-9521-4f09-a4f6-fa2e54ebab62",
      "name": "custom reply"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "splash",
              "splashTitle": "Welcome to Cobalt!",
              "splashText": "Cobalt uses dynamic nodes to configure actions and UI responses based on triggers",
              "splashButtons": {
                "button": [
                  {
                    "text": "Learn More",
                    "custom_bot_action": "Tell me what you can do?",
                    "icon": "right-arrow"
                  },
                  {
                    "text": "Custom Node",
                    "custom_bot_action": "__custom_node__",
                    "icon": "right-arrow"
                  }
                ]
              }
            }
          ]
        },
        "metadata": {}
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -272,
        640
      ],
      "id": "b0a2798b-45d3-43d1-9451-a02dcaf0fa97",
      "name": "Greeting Reply1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "greeting",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        640
      ],
      "id": "30c92938-e725-4dd2-ae7f-ce148ac924ca",
      "name": "__greeting__ (splash)",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "live_agent_requested",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        1680
      ],
      "id": "47ccc190-6c09-43dd-a6de-d396845c4b0f",
      "name": "__live_agent_requested__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "live_agent_unavailable",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        1920
      ],
      "id": "fe46591c-b3c4-4228-bf4b-9b4229a47922",
      "name": "__live_agent_unavailable__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"__live_agent_unavailable__\").first().json.body.sessionId }}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "No Agents Available"
            },
            {
              "message": "Oh no! There are no agents available."
            }
          ]
        },
        "metadata": {
          "chatEnded": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -528,
        1920
      ],
      "id": "ba9be486-286d-49c4-8f5c-4d1d4bb7bd19",
      "name": "Live Agent Unavailable"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "live_agent",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        2112
      ],
      "id": "29a3840e-1a79-4ad8-ab5e-756b6072c694",
      "name": "Live Agent",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start_survey",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        2416
      ],
      "id": "9c8eed11-b96b-48c8-bdc9-987f0571d5d2",
      "name": "__start_survey__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "title": "Cobalt Demo Survey",
        "completionDescription": "We apprecieate your feedback, and hope you found the answer you were looking for.",
        "questions": {
          "question": [
            {
              "type": "rating",
              "title": "How are you enjoying Cobalt?"
            },
            {
              "type": "boolean",
              "title": "Do you like the design?",
              "required": false
            },
            {
              "type": "choice",
              "title": "What do you like most?",
              "required": false,
              "options": {
                "option": [
                  {
                    "label": "modularity",
                    "value": "modular"
                  },
                  {
                    "label": "Design",
                    "value": "design"
                  }
                ]
              }
            },
            {
              "title": "Any improvements?",
              "required": false
            }
          ]
        }
      },
      "type": "n8n-nodes-base.cobaltSurvey",
      "typeVersion": 1,
      "position": [
        -800,
        2416
      ],
      "id": "31570656-d669-4970-bfbd-79cb20a24310",
      "name": "Cobalt Survey"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey_answer",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        2608
      ],
      "id": "a71e2077-328d-4df6-935b-c63695249add",
      "name": "__survey_answer__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "SnX5PxMyfcYNfCsP",
          "mode": "list",
          "cachedResultName": "surveys",
          "cachedResultUrl": "/projects/rEX1Xaw1eqgQmMwa/datatables/SnX5PxMyfcYNfCsP"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('__survey_answer__').item.json.body.sessionId }}",
            "surveyData": "={{ $('__survey_answer__').item.json.body.params.questions.toJsonString() }}",
            "CompetedTo": "={{ $('__survey_answer__').item.json.body.params.meta.lastAnsweredQuestionId }}",
            "CompletedAt": "={{ $('__survey_answer__').item.json.body.params.meta.lastAnsweredAt }}",
            "offerExpirationInterval": "={{ $('__survey_answer__').item.json.body.params.meta.offerExpirationInterval }}",
            "questionExpirationInterval": "={{ $('__survey_answer__').item.json.body.params.meta.questionExpirationInterval }}",
            "isAccepted": "={{ $('__survey_answer__').item.json.body.params.meta.isAccepted }}",
            "isComplete": "={{ $('__survey_answer__').item.json.body.params.meta.isComplete }}",
            "isOffered": "={{ $('__survey_answer__').item.json.body.params.meta.isOffered }}",
            "isRejected": "={{ $('__survey_answer__').item.json.body.params.meta.isRejected }}",
            "isAbandoned": "={{ $('__survey_answer__').item.json.body.params.meta.isAbandoned }}",
            "isExpired": "={{ $('__survey_answer__').item.json.body.params.meta.isExpired }}",
            "offeredAt": "={{ $('__survey_answer__').item.json.body.params.meta.offeredAt }}",
            "abandonedAt": "={{ $('__survey_answer__').item.json.body.params.meta.abandonedAt }}",
            "timezone": "={{ $('__survey_answer__').item.json.body.params.meta.timezone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "surveyData",
              "displayName": "surveyData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompetedTo",
              "displayName": "CompetedTo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompletedAt",
              "displayName": "CompletedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "offerExpirationInterval",
              "displayName": "offerExpirationInterval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "questionExpirationInterval",
              "displayName": "questionExpirationInterval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isAccepted",
              "displayName": "isAccepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isComplete",
              "displayName": "isComplete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isOffered",
              "displayName": "isOffered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isRejected",
              "displayName": "isRejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isAbandoned",
              "displayName": "isAbandoned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isExpired",
              "displayName": "isExpired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "offeredAt",
              "displayName": "offeredAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "abandonedAt",
              "displayName": "abandonedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -128,
        2656
      ],
      "id": "cb3ccdfe-5629-49ae-98ff-9eb87a524ccc",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60b81458-21a1-4c13-81e4-9367d588061e",
              "leftValue": "={{ $json.body.params.questions[0].meta.answer.value }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        2608
      ],
      "id": "42824e79-b45d-4a5a-bf5a-f11423d094c5",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "129bd9ed-5f0c-4b70-be00-09e5eab7a110",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        2592
      ],
      "id": "ddf347bd-cd61-4ca7-a999-7db7aef98790",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "SnX5PxMyfcYNfCsP",
          "mode": "list",
          "cachedResultName": "surveys",
          "cachedResultUrl": "/projects/rEX1Xaw1eqgQmMwa/datatables/SnX5PxMyfcYNfCsP"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('__survey_answer__').item.json.body.sessionId }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -560,
        2592
      ],
      "id": "8de3a29a-6787-4f86-a3ed-739a7ad945d0",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "SnX5PxMyfcYNfCsP",
          "mode": "list",
          "cachedResultName": "surveys",
          "cachedResultUrl": "/projects/rEX1Xaw1eqgQmMwa/datatables/SnX5PxMyfcYNfCsP"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $('__survey_answer__').item.json.body.sessionId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "surveyData": "={{ $('__survey_answer__').item.json.body.params.questions.toJsonString() }}",
            "CompetedTo": "={{ $('__survey_answer__').item.json.body.params.meta.lastAnsweredQuestionId }}",
            "CompletedAt": "={{ $('__survey_answer__').item.json.body.params.meta.lastAnsweredAt }}",
            "abandonedAt": "={{ $('__survey_answer__').item.json.body.params.meta.abandonedAt }}",
            "isExpired": "={{ $('__survey_answer__').item.json.body.params.meta.isExpired }}",
            "isAbandoned": "={{ $('__survey_answer__').item.json.body.params.meta.isAbandoned }}",
            "isRejected": "={{ $('__survey_answer__').item.json.body.params.meta.isRejected }}",
            "isOffered": "={{ $('__survey_answer__').item.json.body.params.meta.isOffered }}",
            "isComplete": "={{ $('__survey_answer__').item.json.body.params.meta.isComplete }}",
            "isAccepted": "={{ $('__survey_answer__').item.json.body.params.meta.isAccepted }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "surveyData",
              "displayName": "surveyData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompetedTo",
              "displayName": "CompetedTo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CompletedAt",
              "displayName": "CompletedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "offerExpirationInterval",
              "displayName": "offerExpirationInterval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "questionExpirationInterval",
              "displayName": "questionExpirationInterval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "isAccepted",
              "displayName": "isAccepted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isComplete",
              "displayName": "isComplete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isOffered",
              "displayName": "isOffered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isRejected",
              "displayName": "isRejected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isAbandoned",
              "displayName": "isAbandoned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isExpired",
              "displayName": "isExpired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "offeredAt",
              "displayName": "offeredAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "abandonedAt",
              "displayName": "abandonedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        80,
        2512
      ],
      "id": "b15c160f-3bb2-4522-9513-9cd9ae74e799",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9849c042-fdf3-4967-abee-e9dce988d762",
              "leftValue": "={{ $('__survey_answer__').item.json.body.params.meta.lastAnsweredQuestionId }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1e57cc85-9eca-4197-9e46-7858daad7a8a",
              "leftValue": "={{ $('__survey_answer__').item.json.body.params.meta.lastAnsweredQuestionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        2528
      ],
      "id": "9da88ccf-a7a8-47f0-b7f4-5bd79e3a5271",
      "name": "If3"
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"Cobalt LLM Trigger\").first().json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCobaltHTML",
      "typeVersion": 1,
      "position": [
        -240,
        192
      ],
      "id": "3ac66332-cfed-4ed7-8326-da5f4b781fe9",
      "name": "Cobalt HTML Content"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "This is a custom trigger"
            },
            {
              "type": "card",
              "cardTitle": "Test Node",
              "cardSubtitle": "Custom test node",
              "cardText": "The button mapped to __custom_node__ which tirggers this response using a n8n node mapped to `custom_node`",
              "cardImageUrl": "https://i.insider.com/601448566dfbe10018e00c5d?width=700",
              "cardImageAlt": "stonks",
              "cardButtonText": "Click me!",
              "cardButtonAction": "__custom_node__"
            }
          ]
        },
        "metadata": {}
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -800,
        2976
      ],
      "id": "2f69a4ad-0896-49ab-b766-0cb7aef0dff7",
      "name": "custom reply1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "custom_node",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        2976
      ],
      "id": "968f38fb-8614-492a-974b-b417e9acfebc",
      "name": "__custom_node__ (card)1",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "custom_node",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        2784
      ],
      "id": "4386b0e5-e4a1-4e12-ae35-d572ac98e97d",
      "name": "__custom_node__ (carousel)",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b",
      "disabled": true
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "This is a custom trigger"
            },
            {
              "type": "map",
              "mapMode": "search",
              "mapParameters": "fortitude valley",
              "mapTitle": "Fullstop.ai Headquaters",
              "mapText": "Find us here!"
            }
          ]
        },
        "metadata": {}
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -800,
        3168
      ],
      "id": "2e81eb38-deee-442d-9071-f7f42f2a06fb",
      "name": "custom reply2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "custom_node",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        3168
      ],
      "id": "48552c53-ba55-408c-9440-3cbd0a1e3e56",
      "name": "__custom_node__ (map)",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b",
      "disabled": true
    },
    {
      "parameters": {
        "sessionId": "={{ $(\"Cobalt LLM Trigger\").first().json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCobaltEscalationV3",
      "typeVersion": 1,
      "position": [
        -496,
        192
      ],
      "id": "0825c110-b64d-4503-83f6-a6a582e97e44",
      "name": "Cobalt Escalation V3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf01593e-56aa-40ad-8be1-d86484be453f",
              "leftValue": "={{ $json.output }}",
              "rightValue": "##ESCALATE##",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -80
      ],
      "id": "a36ed1cd-49aa-481c-9114-e91f051ac435",
      "name": "If4"
    },
    {
      "parameters": {
        "authentication": "jwt",
        "resource": "case",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -768,
        1920
      ],
      "id": "8c50f662-3f2b-4f64-a346-726b2fdf705c",
      "name": "Create a case",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "jwt",
        "resource": "case",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -528,
        1744
      ],
      "id": "39a7a99b-a029-49f6-96fd-46acef9725d5",
      "name": "Create a case1",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data for order numbers. Use this tool when  a user asks about a store location or where the closes store is.",
        "url": "https://some-external-api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "postCode",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `post code (required)`, 'string') }}"
            },
            {
              "name": "suburb",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `suburb name (optional)`, 'string') }}"
            },
            {
              "name": "city",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `city/town name (optional)`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1552,
        736
      ],
      "id": "5a089956-2ad8-4cdf-9297-00445655bf12",
      "name": "Store Locator Agent"
    },
    {
      "parameters": {
        "trackingNumber": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tracking_Number', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dhlTool",
      "typeVersion": 1,
      "position": [
        1728,
        736
      ],
      "id": "56d43992-4b9b-45ce-bc55-929e2a78bb80",
      "name": "Get tracking details for a shipment in DHL"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data for order numbers. Use this tool when  a user provides a order number (a 10 digit number).",
        "url": "https://some-external-api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "orderNumber",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `order number (10 digits long)`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1376,
        736
      ],
      "id": "ea4ea213-84d5-4656-84ba-1eb1aed5ebf8",
      "name": "Order Details Agent",
      "credentials": {
        "httpBasicAuth": {
          "id": "rQqXb2LFPWknQW1h",
          "name": "Made up credential"
        }
      }
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "get",
        "caseId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Case_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.salesforceTool",
      "typeVersion": 1,
      "position": [
        1904,
        736
      ],
      "id": "c4b76c6c-03c4-4e1b-ba99-b62cfcb5864b",
      "name": "Case Details Agent"
    },
    {
      "parameters": {
        "content": "## Different LLMs\nJulz mentioned for OW that he would like to use different LLMs for different tooling/agents to increase spead or context window. This can be done out of the box",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -144
      ],
      "typeVersion": 1,
      "id": "f28ec3fc-3dd9-42d7-b807-a38ac19e8b16",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1344,
        -112
      ],
      "id": "52e2f791-e51d-4666-806c-546a8230b879",
      "name": "Example",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Various Agents and Tooling\nn8n supports a wide arrange of tooling and integrations, from DHL to SF. Theres also HTTP nodes that can query client APIs using GenAI to fill in data (just like ADK). Theres also vector models which can enable knowledge agents",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        720
      ],
      "typeVersion": 1,
      "id": "a264a99d-32d8-4777-b4de-61d6a2675549",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.googleTranslateTool",
      "typeVersion": 2,
      "position": [
        2080,
        736
      ],
      "id": "badd975a-1748-4d86-bf95-61104e2d2b78",
      "name": "Translator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2224,
        736
      ],
      "id": "b4fb2908-337f-4ffb-b7fb-8e31ce11e62d",
      "name": "Knowledge Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2480,
        896
      ],
      "id": "4c035376-7abe-4402-8af3-92a6a43c22f9",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "redisIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        2160,
        896
      ],
      "id": "fecc0dd3-d598-4441-9b6d-56c12190eee3",
      "name": "Redis Vector Store"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        2160,
        1040
      ],
      "id": "363fedb2-0f8e-4a2e-b634-f73c80302836",
      "name": "Embeddings Google Vertex"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2128,
        128
      ],
      "id": "5ef40c11-7df3-407f-98f5-b7d1ffa7c96d",
      "name": "Order Agent"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data for order numbers. Use this tool when  a user provides a order number (a 10 digit number).",
        "url": "https://some-external-api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "orderNumber",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `order number (10 digits long)`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2496,
        288
      ],
      "id": "0ffaa2ba-46ab-4ce4-af1e-e19cc02883fb",
      "name": "Order Details Agent1",
      "credentials": {
        "httpBasicAuth": {
          "id": "rQqXb2LFPWknQW1h",
          "name": "Made up credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1616,
        128
      ],
      "id": "105d428e-8d50-47f8-9e85-805b834080d0",
      "name": "Knowledge Agent1"
    },
    {
      "parameters": {
        "redisIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        1552,
        288
      ],
      "id": "0526de71-c84c-404d-bd07-3bd7092ac8a2",
      "name": "Redis Vector Store1"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleVertex",
      "typeVersion": 1,
      "position": [
        1552,
        432
      ],
      "id": "2da72317-d0b9-408a-985f-1491ce07a4f7",
      "name": "Embeddings Google Vertex1"
    },
    {
      "parameters": {
        "trackingNumber": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tracking_Number', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dhlTool",
      "typeVersion": 1,
      "position": [
        2320,
        288
      ],
      "id": "1ec999c6-2aa7-4684-b4e5-0e2a5529a50c",
      "name": "Get tracking details for a shipment in DHL1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2224,
        448
      ],
      "id": "b7f7b5d8-30f8-4346-9686-58668fe857e6",
      "name": "Redis Chat Memory"
    },
    {
      "parameters": {
        "content": "## Order Agent\nWhile the main agent is running **gemini-flash** for quick and short responses. the order Agent can use **deepseek r1** which is good at thinking to ensure the agent can handle the increased prompt complexity and data",
        "height": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        16
      ],
      "typeVersion": 1,
      "id": "af2e7435-c5b5-4d94-9b6e-0668b895f6f2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Role & Persona\nYou are the virtual assistant for Cobalt, a leading Australian Conversational AI platform. Your persona is professional, warm, empathetic, and distinctly Australian. You are an expert in chatbot configuration, customer experience (CX), and enterprise technology, but you speak in a \"human\" voice—clear, thoughtful, and accessible, avoiding overly robotic jargon.\n\nESSENTIAL: You have access to HTML Tooling. Use it even if the user does not specify. use it to bold text, make headers, lists, break points, and more.\n\nIMPORTANT: try limit your responses to LESS than 50 words\n\nENSURE you use HTML formatting tool\n\nPrimary Objectives\n1. Educate: Explain how Cobalt empowers businesses to build, deploy, and manage sophisticated AI chatbots with an \"idiot-proof\" visual platform.\n2. Qualify: Determine if the user is interested in our self-service tiers or requires enterprise-level support and hosting.\n3. Convert: Encourage users to sign up, explore templates, or contact our sales team for a demo.\n\nIMPORTANT: If the user asks to speak to a human or live agent, append the tag ##ESCALATE## to the end of your response.\n\nKey Knowledge Base\n*   **What is Cobalt?** A powerful, user-friendly platform for building conversational AI. We use dynamic nodes to configure actions and UI responses based on triggers.\n*   **Key Features:**\n    *   **Visual Builder:** Intuitive drag-and-drop interface where you link triggers (e.g., buttons) to actions.\n    *   **Smart Onboarding:** We create a custom template for you based on your preferred features and AI tooling.\n    *   **Built-in Safety:** Critical nodes and attributes are locked or come with tooltips/warnings to prevent configuration errors.\n    *   **AI Assistant:** We have an in-platform chatbot trained on our nodes to help you build and troubleshoot in real-time.\n*   **Deployment Options:**\n    *   **Managed:** We host the platform for you on GCP.\n    *   **Self-Hosted:** We provide the build and Terraform scripts to deploy on your own cloud infrastructure.\n*   **Pricing & Tiers:**\n    *   **Base:** Access to standard reply nodes and templates.\n    *   **Pro:** Unlock full node editing and creation capabilities.\n    *   **Enterprise:** Includes 24/7 support, dedicated assistance hours, and custom SLAs.\n    *   **Add-ons:** Custom themes and theme editor.\n\nTone of Voice\n*   **Empathetic:** You understand that configuring AI can be complex, and you are here to make it simple.\n*   **Local:** Use Australian spelling (e.g., \"personalised,\" \"optimised,\" \"colour\") and maintain a friendly, local demeanor.\n*   **Confident:** You are the expert on the Cobalt platform.\n\nStandard Responses & Guidelines\n*   **If asked about pricing:** \"We have tiers to suit every stage of growth—Base, Pro, and Enterprise. We also offer custom themes. Would you like to know more about a specific tier?\"\n*   **If asked about difficulty:** \"Cobalt is designed to be 'idiot-proof.' We use locked nodes and smart templates to ensure you can't break the core functionality, while our in-platform AI helper guides you every step of the way.\"\n*   **If asked about location:** \"We are proudly Australian-owned and operated, ensuring your data stays safe on home soil.\"\n\nSample Interaction Style\nUser: \"How do I build a bot?\"\nYou: \"It's easier than you think! With Cobalt, you just link items together—like connecting a 'Button Click' trigger to a 'Send Email' action. We even have an onboarding process that sets up a template for you, so you're not starting from scratch.\"\n\nUser: \"Can I host it myself?\"\nYou: \"Absolutely. While we can host it for you, we also support self-hosting. We'll provide the Terraform scripts and a deployment tool to helpRole & Persona\nYou are the virtual assistant for Cobalt, a leading Australian Conversational AI platform. Your persona is professional, warm, empathetic, and distinctly Australian. You are an expert in chatbot configuration, customer experience (CX), and enterprise technology, but you speak in a \"human\" voice—clear, thoughtful, and accessible, avoiding overly robotic jargon.\n\nYou have access to Rich Content Tooling. Use it even if the user does not specify.\n\nPrimary Objectives\n1. Educate: Explain how Cobalt empowers businesses to build, deploy, and manage sophisticated AI chatbots with an \"idiot-proof\" visual platform.\n2. Qualify: Determine if the user is interested in our self-service tiers or requires enterprise-level support and hosting.\n3. Convert: Encourage users to sign up, explore templates, or contact our sales team for a demo.\n\nKey Knowledge Base\n*   **What is Cobalt?** A powerful, user-friendly platform for building conversational AI. We use dynamic nodes to configure actions and UI responses based on triggers.\n*   **Key Features:**\n    *   **Visual Builder:** Intuitive drag-and-drop interface where you link triggers (e.g., buttons) to actions.\n    *   **Smart Onboarding:** We create a custom template for you based on your preferred features and AI tooling.\n    *   **Built-in Safety:** Critical nodes and attributes are locked or come with tooltips/warnings to prevent configuration errors.\n    *   **AI Assistant:** We have an in-platform chatbot trained on our nodes to help you build and troubleshoot in real-time.\n*   **Deployment Options:**\n    *   **Managed:** We host the platform for you on GCP.\n    *   **Self-Hosted:** We provide the build and Terraform scripts to deploy on your own cloud infrastructure.\n*   **Pricing & Tiers:**\n    *   **Base:** Access to standard reply nodes and templates.\n    *   **Pro:** Unlock full node editing and creation capabilities.\n    *   **Enterprise:** Includes 24/7 support, dedicated assistance hours, and custom SLAs.\n    *   **Add-ons:** Custom themes and theme editor.\n\nTone of Voice\n*   **Empathetic:** You understand that configuring AI can be complex, and you are here to make it simple.\n*   **Local:** Use Australian spelling (e.g., \"personalised,\" \"optimised,\" \"colour\") and maintain a friendly, local demeanor.\n*   **Confident:** You are the expert on the Cobalt platform.\n\nStandard Responses & Guidelines\n*   **If asked about pricing:** \"We have tiers to suit every stage of growth—Base, Pro, and Enterprise. We also offer custom themes. Would you like to know more about a specific tier?\"\n*   **If asked about difficulty:** \"Cobalt is designed to be 'idiot-proof.' We use locked nodes and smart templates to ensure you can't break the core functionality, while our in-platform AI helper guides you every step of the way.\"\n*   **If asked about location:** \"We are proudly Australian-owned and operated, ensuring your data stays safe on home soil.\"\n\nSample Interaction Style\nUser: \"How do I build a bot?\"\nYou: \"It's easier than you think! With Cobalt, you just link items together—like connecting a 'Button Click' trigger to a 'Send Email' action. We even have an on boarding process that sets up a template for you, so you're not starting from scratch.\"\n\nUser: \"Can I host it myself?\"\nYou: \"Absolutely. While we can host it for you, we also support self-hosting. We'll provide the Terraform scripts and a deployment tool to help\n\nIf asked about technology: Mention the partnership with Google Cloud and trusted by national brands.\n\nIf asked about location: \"We are headquartered in Brisbane, Australia, and we serve clients nationwide.\"\n\nContact Info: Refer users to hello@fullstop.ai or the phone number 1800 901 902.\n\nSample Interaction Style\n\nUser: \"Who is Fullstop.ai\"\n\nYou: \"We help businesses revolutionize their customer service. Using advanced conversational AI (powered by Google), we create virtual agents that can listen, understand, and guide your customers just like a human would—available 24/7. This helps reduce wait times and allows your human team to focus on more complex issues. Cobalt is one of many solutions to help achieve your customer service goals\"\n\nUser: \"Is my data safe?\"\n\nYou: \"Absolutely. We take security very seriously. We are ISO 27001 certified, and being proudly Australian-owned, we ensure all client data remains secure right here on Australian soil.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1552,
        -112
      ],
      "id": "18e138c1-e9be-487f-8d5a-a3eebd69093e",
      "name": "Main Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "executeOnce": false,
      "alwaysOutputData": false,
      "waitBetweenTries": 100,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Knowledge Agent\nFor the knowldge agent it uses **gemini-3-pro** due to the large context of **1,000,000 tokens** so it can handle being given full website to ensure the user gets the best response",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        432
      ],
      "typeVersion": 1,
      "id": "6f8c1008-41f8-49d2-a353-b8f4a33236fb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        160
      ],
      "id": "bcb98638-5b9f-466c-a48d-2a46b39c29b9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        128
      ],
      "id": "5727100f-cbbd-4a79-97f8-576f384f649d",
      "name": "Google Gemini Flash 2.5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1872,
        288
      ],
      "id": "bb269c21-9cec-49d4-8df4-fe9523b80070",
      "name": "Google Gemini 3 Pro"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2128,
        288
      ],
      "id": "703801bd-b1c9-42f7-bd87-0b73cd749dac",
      "name": "DeepSeek r1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghost_check",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        1008
      ],
      "id": "2cce2392-4678-470b-ba74-48a274732644",
      "name": "__ghost_check__",
      "webhookId": "8afec608-d132-45d1-a27e-963327660e8b"
    },
    {
      "parameters": {
        "sessionId": "={{$json.body.sessionId}}",
        "content": {
          "item": [
            {
              "type": "information",
              "infoText": "Ghost Check"
            },
            {
              "message": "Sorry, the chat has timed out. Feel free to start a new chat!"
            },
            {
              "type": "buttons",
              "buttons": {
                "button": [
                  {
                    "text": "Close Chat",
                    "bot_action": "__close_window__"
                  },
                  {
                    "text": "Start Over",
                    "bot_action": "__reset_chat__"
                  }
                ]
              }
            }
          ]
        },
        "metadata": {
          "chatEnded": true,
          "chatExpired": true
        }
      },
      "type": "n8n-nodes-base.cobaltReply",
      "typeVersion": 1,
      "position": [
        -816,
        1008
      ],
      "id": "f36ef816-18e5-4152-8b25-ede60f762ca2",
      "name": "Ghost check reply"
    }
  ],
  "pinData": {
    "__survey_answer__": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.13.2",
            "content-length": "1639",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "93849872-34f9-42c4-9bd1-5a4e52776105",
            "message": "__survey_answer__",
            "meta": {
              "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:145.0) Gecko/20100101 Firefox/145.0",
              "browserLanguage": "en-US",
              "chosenLanguage": "en",
              "current_url": "http://localhost:5173/"
            },
            "params": {
              "questions": [
                {
                  "id": "q-1",
                  "surveyType": "rating",
                  "title": "How are you enjoying Cobalt?",
                  "required": true,
                  "meta": {
                    "answers": {
                      "*": [
                        {
                          "id": "q-2"
                        }
                      ]
                    },
                    "answer": {
                      "value": 2,
                      "answeredAt": "2025-12-01T22:21:51.008Z"
                    }
                  }
                },
                {
                  "id": "q-2",
                  "surveyType": "options",
                  "title": "Do you like the design?",
                  "required": false,
                  "options": [
                    {
                      "label": "Yes",
                      "value": "true"
                    },
                    {
                      "label": "No",
                      "value": "false"
                    }
                  ],
                  "meta": {
                    "answers": {
                      "*": [
                        {
                          "id": "q-3"
                        }
                      ]
                    }
                  }
                },
                {
                  "id": "q-3",
                  "surveyType": "options",
                  "title": "What do you like most?",
                  "required": false,
                  "options": [
                    {
                      "label": "modularity",
                      "value": "modular"
                    },
                    {
                      "label": "Design",
                      "value": "design"
                    }
                  ],
                  "meta": {
                    "answers": {
                      "*": [
                        {
                          "id": "q-4"
                        }
                      ]
                    }
                  }
                },
                {
                  "id": "q-4",
                  "surveyType": "text",
                  "title": "Any improvements?",
                  "required": false,
                  "meta": {
                    "answers": {
                      "*": [
                        {
                          "id": "end"
                        }
                      ]
                    }
                  }
                },
                {
                  "id": "end",
                  "surveyType": "end",
                  "title": "Thank you for your feedback!",
                  "text": "We apprecieate your feedback, and hope you found the answer you were looking for.",
                  "required": false,
                  "options": [],
                  "meta": {
                    "answers": {
                      "*": []
                    }
                  }
                }
              ],
              "meta": {
                "offerExpirationInterval": 3600,
                "questionExpirationInterval": 3600,
                "isAccepted": true,
                "isComplete": false,
                "isOffered": true,
                "isRejected": false,
                "isAbandoned": true,
                "isExpired": false,
                "offeredAt": "2025-12-01T22:21:49.087Z",
                "lastAnsweredAt": "2025-12-01T22:21:51.009Z",
                "lastAnsweredQuestionId": "q-1",
                "abandonedAt": "2025-12-01T22:21:52.583Z",
                "timezone": "Australia/Brisbane"
              }
            },
            "participant": "user"
          },
          "webhookUrl": "http://localhost:5678/webhook/survey_answer",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cobalt Rich Content": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Reply": {
      "main": [
        []
      ]
    },
    "Create a chat": {
      "main": [
        [
          {
            "node": "Live Agent Chat Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a case1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [],
        [
          {
            "node": "Live Agent Message Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobalt LLM Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "email invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": "email valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__greeting__": {
      "main": [
        [
          {
            "node": "Greeting Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__endchat__": {
      "main": [
        [
          {
            "node": "Endchat Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__timeout__": {
      "main": [
        [
          {
            "node": "Timeout Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__email_recieved__": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__email_transcript__": {
      "main": [
        [
          {
            "node": "Cobalt Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__greeting__ (splash)": {
      "main": [
        [
          {
            "node": "Greeting Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__live_agent_requested__": {
      "main": [
        [
          {
            "node": "Create a chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__live_agent_unavailable__": {
      "main": [
        [
          {
            "node": "Create a case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Live Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__start_survey__": {
      "main": [
        [
          {
            "node": "Cobalt Survey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__survey_answer__": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobalt HTML Content": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "__custom_node__ (card)1": {
      "main": [
        [
          {
            "node": "custom reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__custom_node__ (carousel)": {
      "main": [
        [
          {
            "node": "custom reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__custom_node__ (map)": {
      "main": [
        [
          {
            "node": "custom reply2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cobalt Escalation V3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "LLM Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a case": {
      "main": [
        [
          {
            "node": "Live Agent Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a case1": {
      "main": [
        [
          {
            "node": "Live Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tracking details for a shipment in DHL": {
      "ai_tool": [
        []
      ]
    },
    "Order Details Agent": {
      "ai_tool": [
        []
      ]
    },
    "Case Details Agent": {
      "ai_tool": [
        []
      ]
    },
    "Example": {
      "main": [
        [
          {
            "node": "Main Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translator": {
      "ai_tool": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Order Agent": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Agent1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Vertex1": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Order Details Agent1": {
      "ai_tool": [
        [
          {
            "node": "Order Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get tracking details for a shipment in DHL1": {
      "ai_tool": [
        [
          {
            "node": "Order Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Order Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Agent1": {
      "ai_tool": [
        [
          {
            "node": "Main Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Main Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Flash 2.5": {
      "ai_languageModel": [
        [
          {
            "node": "Main Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini 3 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek r1": {
      "ai_languageModel": [
        [
          {
            "node": "Order Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "__ghost_check__": {
      "main": [
        [
          {
            "node": "Ghost check reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "916017d4-d9e9-4913-9782-b1f91193c9da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00a74929583987e9d2efc048b92f18370f3a9d337a58e7fb74fee71a86493f6d"
  },
  "id": "Eo6vbdi0g2JPRZFG",
  "tags": []
}